@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  display: unset;
}

.ql-toolbar.ql-snow {
  border-radius: 5px 5px 0 0;
  border: 0px !important;
}

.ql-container.ql-snow {
  border: 0px !important;
}

.ql-snow .ql-stroke {
  stroke: currentColor !important;
}

.ql-snow .ql-fill {
  fill: currentColor !important;
}

.ql-snow .ql-picker {
  color: currentColor !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: currentColor !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  color: black;
}

.ql-editor.ql-blank::before {
  color: currentColor !important;
  opacity: 0.3 !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #1eb141 !important;
}

.uploadthing label {
  color: #1eb141 !important;
}

.uploadthing button {
  background-color: #1eb141 !important;
}

.uploadthing button::after {
  background-color: #63c699 !important;
}

.bg-transparent-important {
  background-color: transparent !important;
}
